// Основной шрифт страницы
$font-main: "Inter", sans-serif;


// Colors
$dark: black;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #2D343C;
$placeholder: #BEBEBE;
$muted: #E7E7E7;
$orange: #ffa500;

// Медиа
$tablet: 959px;
